@import "~bootstrap/dist/css/bootstrap.min.css";

.form-group{
    margin: 5%;
    display: flex;
    justify-content: center;

    input{
        width: 90%;
    }

    .btn{
        margin: 5%;
    }
}