<div class="jumbotron" style="margin-bottom: 0px;">

    <h1 class="display-4">Creation form</h1>
    <button class='unposted btn-warning' (click)='showModal()'>UNPOSTED POSTS</button>


    <div id="popup1" class="overlay" [class.overlay-show]='swModal'>
      <div class="popup">
        <h2>UNPOSTED POSTS</h2>
        <a (click)='hideModal()' class="close">&times;</a>
        <div class="content">
          <ul>
            <li *ngFor="let post of posts">
                  <app-post name="post.description" [keyCode]='post' [date]='post.date' [posted]='post.posted' [author]='post.author' 
                  [title]='post.title' [type]='post.type' [description]='post.description'></app-post>  
            </li>
          </ul>
        </div>
      </div>
    </div>





    
    <form style="margin-top: 3%;" #createForm="ngForm" (ngSubmit)='createPost(createForm.value)' novalidate><input style='display:none;' name='author' [(ngModel)]='author'><input style='display:none;' name='keyCode' [(ngModel)]='keyCode'>
            <div class="form-group">
                    <label for="exampleInputEmail1"><h3>Enter title</h3></label>
                    <input required class="form-control" [class.is-invalid]='title.invalid && title.touched' #title='ngModel' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title" name='title' ngModel>
                    <small class="form-text text-danger" *ngIf='title.invalid && title.touched'>Title field is required</small>
                  </div>

                  <div class="form-group">
                      <label for="img"><h3>Enter image link</h3></label>
                      <input required class="form-control" [class.is-invalid]='img.invalid && img.touched' #img='ngModel' id="img" placeholder="www.insta.com" name='img' ngModel>
                      <small class="form-text text-danger" *ngIf='img.invalid && img.touched'>Image field is required</small>
                    </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Example select type:</label>
                    <select class="form-control" id="exampleFormControlSelect1" name='type' [(ngModel)]='type'>
                      <option value='News'>News</option>
                      <option value='Post'>Post</option>
                      <option value='Help'>Help</option>
                    </select>
                  </div>

            <div class="form-group">
                    <label for="exampleFormControlTextarea1"><h3>Enter your ideas</h3></label>
                    <textarea class="form-control" required [class.is-invalid]='description.invalid && description.touched' [(ngModel)]='description' id="exampleFormControlTextarea1" rows="8" name='description' ngModel></textarea>
                    <small class="form-text text-danger" *ngIf='description.invalid && description.touched'>Description can't be empty</small>
            </div>
            <div class="form-group row">
                  <label for="example-datetime-local-input">Expiration date</label>
                  <input class="form-control"  min="2019-02-21" max="2030-12-31" required pattern="([2][0][1][9]|[2][0][2][0]|[2][0][2][1])-((02-(2[0-9]|3[01]))|(0[3-9]-(0[1-9]|1[0-9]|2[0-9]|3[01]))|(1[012]-(0[1-9]|1[0-9]|2[0-9]|3[01])))" [class.is-invalid]='date.invalid && date.touched' #date='ngModel' type="date" value="2011-08-19T13:45:00" id="example-datetime-local-input" name='date' ngModel>
                  <small class="form-text text-danger" *ngIf='date.invalid && date.touched'>Lifespan date is required</small>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name='post' [(ngModel)]='post'>
                <label class="form-check-label" for="exampleCheck1">Post</label>
              </div>
            <button type="submit" [class.disabled]='createForm.form.invalid' [disabled]='createForm.form.invalid' class="btn btn-success">Submit</button>
    </form>
</div>