<div class="jumbotron" style="margin-bottom: 0px;">

    <h1 *ngIf='signUp' class="display-4">Sign up</h1>
    <h1 *ngIf='!signUp' class="display-4">Sign in</h1>

    <p (click)='toggle()' class="btn btn-warning" *ngIf='!signUp'>Don't have account?</p>
    <p (click)='toggle()' class="btn btn-warning" *ngIf='signUp'>Already have account?</p>

    <form #registerForm="ngForm" (ngSubmit)='register(registerForm.value)' novalidate>            
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" pattern='^\S+@\S+$' required class="form-control" [class.is-invalid]='(email.invalid) && email.touched' #email='ngModel' aria-describedby="emailHelp" placeholder="Enter email" name='email' ngModel>
              <small class="form-text text-danger" *ngIf='email.value === "" && email.touched'>Email field is required</small>
              <small class="form-text text-danger" *ngIf='email.invalid && email.touched'>Wrong email address</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" required #password='ngModel' [class.is-invalid]='((password.value && password.value.length < 6) || password.invalid) && password.touched' class="form-control" placeholder="Password" name='password' ngModel>
              <small class="form-text text-danger" *ngIf='password.invalid && password.touched'>Password field is required</small>
              <small class="form-text text-danger" *ngIf='(password.value && password.value.length < 6) && password.touched'>Password field needs to be at least 6 symbols!</small>
            </div>
            <div class="form-group" *ngIf='signUp'>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" required #confirmPassword='ngModel' [class.is-invalid]='((confirmPassword.value && confirmPassword.value.length < 6) || confirmPassword.invalid) && confirmPassword.touched' class="form-control" placeholder=" Confirm Password" name='confirmPassword' ngModel>
                <small class="form-text text-danger" *ngIf='confirmPassword.invalid && confirmPassword.touched'>Password field is required</small>
                <small class="form-text text-danger" *ngIf='confirmPassword.value !== password.value'>Passwords don't match</small>
                <small class="form-text text-danger" *ngIf='(confirmPassword.value && confirmPassword.value.length < 6) && confirmPassword.touched'>Password field needs to be at least 6 symbols!</small>
              </div>
            <button type="submit" [class.disabled]='registerForm.form.invalid' [disabled]='createForm.form.invalid' class="btn btn-primary" style="margin-left: 5%;margin-top:2.5%;">Submit</button>
          </form>          

</div>